/*font-family: 'Permanent Marker', cursive;
  font-family: 'Bangers', cursive;
*/

*{
	box-sizing: border-box;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

body {
	height:100%;
	margin:0;
	background-size: cover;
	background: linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));
}

main {
    margin-top: 100px;
}

p {
	font-family: 'Bangers', cursive;
}


/*main*/
.welcome {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}

.welcome p {
	margin-bottom: 25px;
} 

.login p {
	margin-bottom: 0px;
	margin-top: 30px;
}

.d1 > * {
	display: inline;
	vertical-align: middle;
}
.clickHere {
	height: 30px;
	width: 100px;
	font-family: 'Permanent Marker', cursive;
	vertical-align: middle;
	border-radius:2em;
	background-color:#4eb5f1;
	text-shadow: none;
}

.clickHere:hover {
	background-color:#4095c6;
}

.welcome h3 {
	margin-top: 30px;
}

form > * {
	vertical-align: middle;
}

form > input {
	height: 25px;
	font-size: 15px;
}



/*Rules*/
.r1 {
	text-align: center;
}

.r1 h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	margin-bottom: 20px;
}

li {
	font-family: 'Bangers', cursive;
}

.rules {
	font-size: 22px;
	width: 90%;
    margin: 0 auto;
}

.return {
	margin-bottom: 15px;
}




/*signup*/ 
.signup > * {
	text-align: center;
	display: block;
}

#signsheet {
	display: inline-flex;
	width: 50%;
}

#signsheet > input {
	width: 80%;
	margin-left: 50px;
	height: 30px;
	font-size: 28px;
}

.create {
	height: 30px;
	width: 50%;
	margin-left: 25%;
}