* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/*font-family: 'VT323', monospace;*/

@console-color: #14fdce;
@console-bg: #031e11;

body {
    background: #383838;
    color: #2ecfe4;
    font-family: 'VT323';
    font-size: 24px;
    -webkit-font-smoothing: none;
    line-height: 1.2;
}

main {
    background-color: transparent;
    border-radius: 2rem;
    border: 1rem solid;
    border-bottom-color: #121212;
    border-left-color: #080808;
    border-right-color: #080808;
    border-top-color: #020202;
    box-shadow: inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
    height: 96%;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    pointer-events: none;
}

p {
    font-size: 30px;
}

#welcome,
#rules,
#accountdeets,
#playground,
#sorry {
    padding: 50px 20px 20px 20px;
    background-color: #031e11;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    text-align: center;
    text-shadow: 0rem 0.2rem 1rem #0c7b46;
    pointer-events: auto;
}

#welcome {
    text-align: center;
    position: absolute;
    pointer-events: auto;
    z-index: -1;
}

.greet h1 {
    font-size: 70px;
}

.d1,
.login,
.newHere {
    margin-top: 30px;
    vertical-align: middle;
}

.newAccount {
    margin-bottom: 2px;
}

.newHere {
    font-size: 30px;
}

/*Buttons, Input Fields*/

.clickHere {
    font-family: 'VT323';
    font-size: 25px;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
    background-color: transparent;
    text-shadow: none;
    color: #47e60d;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    text-shadow: 0rem 0.1rem .5rem #47e60d;
}

.clickHere:hover {
    background-color: #47e60d;
    color: #e60d47;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

input {
    background-color: transparent;
    border: 3px solid #2ecfe4;
    opacity: 0.5;
    width: 20%;
    color: #47e60d;
    padding: 0px 5px 0px 5px;
    font-family: 'VT323';
}

.w3-container label {
    vertical-align: sub;
}

/*Rules*/

.r1 h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

li {
    list-style: circle;
    list-style-position: inside;
    vertical-align: middle;
    margin-bottom: 5px;
}

.return {
    margin-bottom: 15px;
}

.listOfRules {
    margin: 20px 20px;
}

/*signup*/

#signup,
#updateAccount,
#deleteAccount {
    padding: 20px 20px 20px 20px;
    background-color: #031e11;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    text-align: center;
    text-shadow: 0rem 0.2rem 1rem #0c7b46;
    pointer-events: auto;
}

.create {
    margin-top: 20px;
}

.goBack2 {
    margin-top: 10px;
}

#signup-form,
#update-form,
#deleteSheet {
    margin-top: 10px;
}

.ca,
.ua,
.da {
    margin-top: 50px;
    font-size: 65px;
    text-align: center;
}

.info,
.newinfo {
    text-align: center;
}

#signsheet input {
    border: 3px solid #2ecfe4;
    opacity: 0.5;
    width: 40%;
}

#signsheet * {
    display: block;
}

#signsheet input {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#deleteSheet * {
    display: block;
}

#deleteSheet input {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.goBack5 {
    margin-top: 20px;
}

/*Account Details*/

.user {
    margin: 20px 0px 20px 0px;
}

.user span {
    color: #47e60d;
}

.play,
.delete {
    margin-top: 20px;
}

.goBack3 {
    margin-top: 20px;
}

/*Playground*/

select {
    background-color: transparent;
    border: 3px solid #2ecfe4;
    opacity: 0.5;
    color: #47e60d;
    padding: 0px 5px 0px 5px;
    font-family: 'VT323';
}

.category {
    font-size: 35px;
}

.startGame {
    text-align: center;
}

.options {
    text-align: center;
    margin-top: 50px;
}

.ready {
    font-size: 35px;
    background-color: transparent;
    margin-top: 20px;
}

.ready:hover {
    background-color: #43f736;
}

.questions {
    text-align: center;
}

#qs {
    font-size: 35px;
}

.choices > fieldset input {
    width: auto;
}

.answer {
    text-align: center;
    margin: 20px 00px 15px 0px;
}

.container {
    width: 60%;
}

.players {
    margin-top: 10px;
}

.players div {
    display: inline-block;
}

.player1 {
    float: left;
}

.ai {
    float: right;

}

.frontprofile {
    max-width: 200px;
}

.profilepic {
    border-radius: 90%;
}

.cover {
    background-color: #031e11;
    opacity: 1;
}

img {
    position: relative;
}

/*.p1,
.p2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
}*/

.p2 {
    text-transform: uppercase;
}

.p3 {
    color: red;
}

.canvas {
    margin: 0 auto;
    border: solid #2ecfe4 .5px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #0c7b46;
    width: fit-content;
}

.nextQuestion {
    margin: 20px 0px 0px 0px;
}

.light {
    width: 20px;
    height: 20px;
    background-color: #47e60d;
}

fl1 {
    margin: 10px;
    border: solid #0c7b46 2px;
    display: grid;
    text-align: center;
}

.newGame {
    margin-left: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 96%;
    margin-bottom: 20px;
}

.popup {
    bottom: 0;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #welcome,
    #rules,
    #playground {
        padding: 20px 10px 10px 10px;
    }
    .listOfRules li {
        margin-bottom: 15px;
    }
    #signsheet input {
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .creat,
    .goBack2 {
        margin-top: 20px;
    }
    .goBack5 {
        margin-top: 20px;
    }
    .goBack3 {
        margin-top: 20px;
    }
    .p1. .p2 {
        font-size: 35px;
    }
    .answer {
        margin: 20px 0px 20px 0px;
    }
    .nextQuestions {
        margin: 20px 0px 20px 5px;
    }
    .fl1 {
        margin: 10px;
        border: solid #0c7b46 2px;
        display: grid;
        text-align: center;
    }
    .container {
        width: 60%;
    }
    .cover {
        display: none;
    }
    #footer {
        position: absolute;
        width: 96%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 375px) {
    main {
        height: 115%;
    }
    .login {
        border: solid #0c7b46 2px;
    }
    .login p {
        margin-top: 0px;
    }
    .l2 {
        margin: 5px;
        font-size: 25px;
    }
    .l2 input {
        width: 70%;
    }
    .r1 h1 {
        font-size: 30px;
    }
    #welcome,
    #rules,
    #playground {
        padding: 20px 10px 10px 10px;
    }
    .listOfRules {
        margin: 10px 10px;
    }
    .listOfRules li {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .goBack5 {
        margin-top: 15px;
    }
    .signup {
        margin-top: 20px;
    }
    .ca,
    .ua,
    .da {
        font-size: 45px;
    }
    .goBack2 {
        margin-top: 20px;
    }
    .goBack3 {
        margin-top: 20px;
    }
    #signsheet input {
        font-size: 18px;
        width: 70%;
    }
    .profilepic {
        max-width: 100px;
    }
    .create {
        margin-top: 20px;
    }
    #accountdeets > p {
        font-size: 20px;
    }
    .options {
        margin: 50px 5px 0px 5px;
    }
    .category {
        font-size: 30px;
    }
    .ready {
        font-size: 25px;
    }
    #qs {
        font-size: 25px;
    }
    .fl1 {
        margin: 10px;
        border: solid #0c7b46 2px;
        display: grid;
        text-align: initial;
    }
    .answeroption {
        margin-left: 5px;
    }
    .container {
        margin: 0;
    }
    .profile1,
    profile2 {
        display: none;
    }
    .p1,
    .p2 {
        writing-mode: initial;
        padding: 0px 10px;
    }
    .answer {
        margin: 10px 0px 0px 0px;
    }
    .nextQuestion {
        margin: 30px 0px 0px 45px;
    }
    .questions {
        margin-top: 10px;
        padding: 0px 10px 0px 10px;
    }
}

@media only screen and (max-width: 320px) {
    body {
        margin: 30px 10px 10px 10px;
    }
    h1,
    .ca {
        margin: 10px 0px 5px 0px;
    }
    .ca,
    .ua,
    .da {
        font-size: 35px;
    }
    .clickHere {
        font-size: 20px;
    }
    #welcome p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .d1 {
        margin: 10px 0px 10px 0px;
    }
    .login {
        border: solid #0c7b46 2px;
    }
    .r1 h1 {
        font-size: 33px;
        margin-bottom: 20px;
    }
    .r1 p {
        font-size: 23px;
    }
    .l2 {
        margin: 5px;
        font-size: 20px;
    }
    .showrules,
    .l3 {
        margin-top: 5px;
    }
    #welcome,
    #rules,
    #accountdeets {
        padding: 20px 0px 0px 0px;
    }
    .create {
        margin-top: 20px;
    }
    .goBack3 {
        margin-top: 20px;
    }
    #qs {
        font-size: 25px;
    }
    h3 {
        font-size: 30px;
    }
    ul {
        padding: 0;
    }
    li {
        font-size: 16.5px;
    }
    input,
    select {
        width: auto;
    }
    #signsheet input {
        margin: 0;
        width: 100%;
    }
    .user p {
        font-size: 20px;
    }
    #playground {
        margin: 5px 5px 0px 5px;
        padding: 0px 0px 0px 0px;
    }
    .ready {
        font-size: 25px;
    }
    .options {
        display: inline-grid;
        margin-top: 50px;
    }
    .box img {
        display: none;
    }
    h3 {
        font-size:
    }
    .box {
        margin-left: 10px;
        margin-right: 10px;
    }
    .p1,
    .p2 {
        writing-mode: initial;
    }
    .profile2 {
        display: none;
    }
    .questions {
        margin-top: 30px;
        padding: 0px 10px 0px 10px;
    }
    .fl1 {
        margin: 10px;
        border: solid #0c7b46 2px;
        display: grid;
        text-align: initial;
    }
    .answer {
        margin: 5px 0px 0px 0px;
    }
}
